.paking-section {
    background: #f9f5ef;
    padding-top: 96px;

    .small-container {
        position: relative;
    }
    .subtitle {
        color: #144c45;
        margin-bottom: 36px;
    }
    .title {
        margin-bottom: 24px;
    }
    .text {
        margin-left: 115px;
    }
    .paking-img-1 {
        margin-top: 60px;
        margin-left: 120px;
        width: 580px;
        margin-bottom: -3px;
    }
    .tablet-text {
        display: none;
    }
    .paking-img-2-wrapper {
        position: absolute;
        height: 588px;
        top: -96px;
        right: 0px;
        text-align: right;
        > img {
            width: 90%;
        }
        .cetrificate-wrapper {
            position: absolute;
            bottom: -8px;
            left: 65px;
            width: 40px;
            height: 60px;
            background-image: url(../../assets/certificate.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    // .paking-img-2 {
    //     position: absolute;
    //     height: 588px;
    //     top: -96px;
    //     right: 0px;
    // }
}

// ------------- Adaptive -------------

// ------------- Laptop -------------
@media (max-width: 1200px) {
    .paking-section {
        .text {
            margin-left: 50px;
        }
        .paking-img-1 {
            margin-left: 0;
        }
    }
}

// ------------- Tablet -------------
@media (max-width: 992px) {
    .paking-section {
        text-align: center;
        padding-top: 60px;
        .subtitle,
        .title {
            text-align: left;
        }
        .small-container {
            > .text {
                display: none;
            }
        }
        .paking-img-1 {
            margin-top: 20px;
            width: 100%;
        }
        .tablet-text {
            display: block;
            margin: 16px 0px;
            text-align: left;
            .text {
                margin-left: 0;
            }
        }
        .paking-img-2-wrapper {
            position: relative;
            width: 100%;
            height: auto;
            top: 0px;
            max-width: 600px;
            margin-bottom: -4px;
            > img {
                width: 100%;
            }
            .cetrificate-wrapper {
                left: 14px;
                bottom: 11px;
            }
        }
    }
}

// ------------- Mobile -------------
@media (max-width: 576px) {
    .paking-section {
        padding-top: 32px;
        .subtitle {
            margin-bottom: 24px;
        }
        .title {
            font-size: 64px;
            line-height: 64px;
        }
        .paking-img-1 {
            margin-top: 0;
        }
    }
}
