.paking-section {
    background: #f9f5ef;
    padding-top: 96px;

    .small-container {
        position: relative;
    }
    .subtitle {
        color: #144c45;
        margin-bottom: 36px;
    }
    .title {
        margin-bottom: 24px;
    }
    .text {
        margin-left: 115px;
    }
    .paking-img-1 {
        margin-top: 60px;
        margin-left: 120px;
        width: 580px;
        margin-bottom: -3px;
    }
    .paking-img-2 {
        position: absolute;
        height: 588px;
        top: -96px;
        right: 0px;
    }
}
