.paking-section {
    background: #8acfcf;
    padding-top: 96px;

    .small-container {
        position: relative;
    }
    .subtitle {
        color: white;
        margin-bottom: 36px;
    }
    .title {
        margin-bottom: 24px;
    }
    .text {
        margin-left: 115px;
    }
    .paking-img-1 {
        margin-top: 60px;
        margin-left: 141px;
        margin-bottom: -3px;
    }
    .paking-img-2 {
        position: absolute;
        height: 588px;
        top: -95px;
        right: 0px;
    }
}
