.sale-section {
    padding-top: 20px;
    .sale-wrapper {
        padding: 46px 72px;
        background-color: #8acfcf;
        border-radius: 40px;
        overflow: hidden;
        gap: 16px;
        position: relative;
        justify-content: end;
        .sale-title {
            position: absolute;
            top: 90px;
            left: -40px;
            z-index: 1;
            > p:nth-child(1) {
                font-family: "Allison", cursive;
                font-size: 428px;
                font-weight: 400;
                line-height: 32px;
                color: #fd2121;
            }
            > p:nth-child(2) {
                font-family: "Lora", serif;
                font-size: 32px;
                font-weight: 700;
                line-height: 64px;
                letter-spacing: -2px;
                text-transform: uppercase;
                position: relative;
                top: 200px;
                right: -100px;
                > span {
                    font-family: Lora;
                    font-size: 96px;
                    font-weight: 400;
                    line-height: 64px;
                    letter-spacing: -2px;
                }
            }
            > p:nth-child(3) {
                font-family: "Allison", cursive;
                font-size: 328px;
                font-weight: 400;
                line-height: 32px;
                color: #fd2121;
                opacity: 0.1;
                position: relative;
                bottom: -120px;
                right: -185px;
            }
        }
        .sale-text {
            font-size: 18px;
            line-height: 32px;
            width: 305px;
            z-index: 2;
            position: relative;
            height: fit-content;
            .sale-text-blur {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: #8acfcf9d;
                filter: blur(8px);
            }
            > p {
                padding: 10px;
                border-radius: 8px;
                z-index: 10;
                position: relative;
            }
        }
        .sale-item {
            z-index: 2;
            .sale-img-wrapper {
                width: 440px;
                box-shadow: 0px 4px 8px 0px #279aa4a6;
                border-radius: 4px;
                overflow: hidden;
                margin-bottom: 18px;
                .sale-img {
                    width: 100%;
                    margin-bottom: -4px;
                }
            }
            .sale-item-color {
                font-size: 20px;
                font-weight: 500;
                line-height: 23px;
            }
            .sale-item-type {
                font-weight: 500;
                line-height: 19px;
                color: white;
                text-transform: capitalize;
            }
            .sale-item-description {
                justify-content: space-between;
            }
            .sale-item-price-and-btn {
                align-items: center;
                gap: 16px;
            }
            .sale-item-rpice {
                font-size: 20px;
                font-weight: 400;
                line-height: 23px;
                span {
                    color: #fd2121;
                    font-size: 42px;
                }
            }
            .sale-btn,
            .sale-tablet-btn {
                box-shadow: 3px 4px 6px 0px #2799a44d;
                color: #22625a;
                font-family: "Lora", serif;
                font-weight: 600;
                line-height: 20px;
                background-color: white;
                border: none;
                border-radius: 4px;
                padding: 12px 13px;
                cursor: pointer;
            }
            > a {
                text-decoration: none;
                color: #22625a;
            }
            .sale-tablet-btn {
                display: none;
            }
        }
    }
}

// ------------- Adaptive -------------

// ------------- Tablet -------------
@media (max-width: 1100px) {
    .sale-section {
        .sale-wrapper {
            flex-direction: column;
            .sale-title {
                position: static;
                height: 370px;
                margin-top: 50px;
                > p:nth-child(2) {
                    top: 110px;
                }
            }
            .sale-text {
                width: 100%;
            }
            .sale-item {
                .sale-img-wrapper {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .sale-section {
        .sale-wrapper {
            .sale-title {
                margin-left: -120px;
            }
            .sale-item {
                .sale-btn {
                    display: none;
                }
                .sale-tablet-btn {
                    display: block;
                    width: 100%;
                    margin-top: 8px;
                }
            }
        }
    }
}

// ------------- Mobile -------------
@media (max-width: 576px) {
    .sale-section {
        .sale-wrapper {
            padding: 15px 13px;
            border-radius: 10px;
            .sale-title {
                margin-top: 20px;
                height: 210px;
                margin-left: -35px;
                > p:nth-child(1) {
                    font-size: 228px;
                }
                > p:nth-child(2) {
                    font-size: 32px;
                    top: 30px;
                    right: -55px;
                    > span {
                        font-size: 64px;
                    }
                }
                > p:nth-child(3) {
                    font-size: 228px;
                    bottom: -10px;
                    right: -120px;
                }
            }
            .sale-text {
                > p {
                    padding: 0px;
                }
            }
        }
    }
}
