.about-section {
    padding-top: 160px;
    .adout-header-wrapper {
        position: relative;
    }
    .subtitle {
        margin-bottom: 36px;
    }
    .title {
        text-align: center;
        margin-bottom: 8px;
    }
    .title-p-1 {
        text-align: left;
    }
    .title-p-3 {
        width: 80%;
    }
    .title-p-1-tablet {
        display: none;
    }
    .title-p-2-tablet-wrapper {
        display: none;
    }
    .text-wrapper {
        margin: 0 auto;
        margin-top: 24px;
        width: 45%;
        > .text {
            position: relative;
            z-index: 50;
        }
    }
    .text {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0px;
    }
    .about-section-btn-link {
        position: absolute;
        right: 135px;
        bottom: -50px;
        z-index: 30;
    }
    .images-wrapper {
        position: relative;
        min-height: 850px;
        max-width: 1600px;
        margin: 0 auto;
        .about-img {
            position: absolute;
        }
        .img-1 {
            bottom: 150px;
            left: 0px;
        }
        .img-2 {
            bottom: 60px;
            left: 410px;
        }
        .img-3 {
            top: -35px;
            right: 190px;
            z-index: -1;
        }
        .img-4 {
            bottom: 315px;
            right: 0px;
        }
    }
    .description-wrapper {
        border-top: 1px solid #e8d9c3;
        border-bottom: 1px solid #e8d9c3;
        padding: 54px 80px;
        gap: 100px;
        align-items: center;
        width: 86%;
        margin: 0 auto;
        .description-leftside-wrapper {
            text-align: center;
        }
        .description-title {
            font-family: "Lora", serif;
            font-size: 56px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: -1px;
            margin-bottom: 5px;
        }
        .description-text-wrapper {
            .text:first-child {
                margin-bottom: 30px;
            }
        }
        .description-text {
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0px;
            color: #979cab;
        }
    }
}

// ---------------- Disable hover on mobile -------------

// @media (hover: hover) {

// }

// ------------- Adaptive -------------

// ------------- Laptop -------------
@media (max-width: 1200px) {
    .about-section {
        .text-wrapper {
            width: 50%;
        }
        .about-section-btn-link {
            right: 130px;
        }
    }
}

// ------------- Tablet -------------
@media (max-width: 992px) {
    .about-section {
        padding-top: 50px;
        .title {
            font-size: 55px;
        }
        .title-p-2 {
            display: none;
        }
        .title-p-1-tablet {
            display: block;
            text-align: left;
        }
        .title-p-2-tablet-wrapper {
            display: block;
            min-width: 420px;
            width: 60%;
            margin-left: auto;
            > p {
                text-align: left;
            }
        }
        .title-p-3 {
            display: none;
        }
        .text-wrapper {
            width: 80%;
            margin-bottom: 58px;
        }
        .about-section-btn-link {
            bottom: -100px;
            right: 100px;
        }
        .images-wrapper {
            min-height: 550px;
            .img-1 {
                display: none;
            }
            .img-2 {
                left: 0px;
                bottom: 24px;
                height: 270px;
            }
            .img-3 {
                top: 0px;
                right: 50%;
                transform: translateX(50%);
                height: 400px;
            }
            .img-4 {
                height: 300px;
                bottom: 84px;
            }
        }
        .description-wrapper {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            flex-direction: column;
            gap: 24px;
            .description-title {
                margin-bottom: 8px;
            }
        }
    }
}

// ------------- Mobile -------------
@media (max-width: 576px) {
    .about-section {
        padding-top: 44px;
        .title {
            font-size: 32px;
            line-height: 32px;
        }
        .title-p-2-tablet-wrapper {
            min-width: 225px;
            width: 40%;
        }
        .text-wrapper {
            width: 100%;
        }
        .about-section-btn-link {
            right: 16px;
        }
        .images-wrapper {
            min-height: 400px;
            overflow: hidden;
            .img-2 {
                left: -10px;
                height: 132px;
            }
            .img-3 {
                height: 278px;
            }
            .img-4 {
                height: 224px;
                right: -80px;
            }
        }
        .description-wrapper {
            padding: 32px 0px;
        }
    }
}
