.pages {
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    .page-text {
        text-decoration: none;
        color: #979cab;
        font-size: 12px;
        line-height: 14px;
        text-transform: capitalize;
    }
    .current-page {
        color: #333333;
    }
}
