.item {
    .img-wrapper {
        max-width: 280px;
        max-height: 300px;
    }
    .item-img {
        width: 100%;
    }
    .description-row {
        margin-top: 10px;
        justify-content: space-between;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        a {
            text-decoration: none;
            color: #333333;
        }

        .item-type {
            color: #979cab;
            margin-top: 5px;
        }
        .price {
            text-transform: lowercase;
        }
        .price.out-of-stock {
            text-transform: capitalize;
        }
    }
}
.out-of-stock {
    .item-img {
        filter: grayscale(100%);
    }
}

// ------------- Adaptive -------------

// ------------- Laptop -------------
@media (max-width: 1200px) {
    .item {
        .description-row {
            .price {
                text-align: right;
            }
        }
    }
}

// ------------- Tablet -------------
@media (max-width: 992px) {
}

// ------------- Mobile -------------
@media (max-width: 576px) {
}
