.collection-page {
    background-color: white;
    .header-bg {
        height: 80px;
    }
    .sorting {
        width: 93%;
        margin-bottom: 14px;
        position: relative;
        .sorting-row {
            justify-content: flex-end;
            align-items: center;
            gap: 13px;
            user-select: none;
            cursor: pointer;
            .arrow {
                width: 24px;
                height: 24px;
                background-image: url(../../assets/arrow-down.svg);
                background-position: center;
                background-repeat: no-repeat;
                transform: rotate(90deg);
            }
            .arrow.open {
                transform: rotate(0deg);
            }
        }
        .sorting-list {
            position: absolute;
            top: 38px;
            right: 0px;
            padding: 20px;
            padding-bottom: 0;
            border: 1px solid #979cab;
            background-color: white;
            visibility: hidden;
            opacity: 0;
            > p {
                margin-bottom: 15px;
                color: #808080;
                cursor: pointer;
            }
            // > p:last-child {
            //     margin-bottom: 0;
            // }
            .disable {
                display: none;
            }
        }
        .sorting-list.open {
            visibility: visible;
            opacity: 1;
        }
    }
    .collection-wrapper {
        display: grid;
        grid-template-columns: 280px 880px;
        gap: 20px;
        align-items: start;
        padding-bottom: 80px;
        .filter {
            width: 100%;
            .filter-block {
                transition: 0.3s all;
                background: #fafafa;
                margin-bottom: 10px;
                padding: 15px 20px;
                .filter-block-title {
                    font-weight: 500;
                }
                .category:nth-child(2) {
                    margin-top: 20px;
                }
                .category {
                    margin-bottom: 20px;
                    user-select: none;
                    cursor: pointer;
                }
                .category.active {
                    font-weight: 700;
                }
                .category:last-child {
                    margin-bottom: 0;
                }
                .disable-category {
                    color: #c9c9c9;
                    font-weight: 300;
                    > span {
                        font-weight: 700;
                        color: #8acfcf;
                    }
                }
                .filter-title-row {
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    .arrow {
                        width: 24px;
                        height: 24px;
                        background-image: url(../../assets/arrow-down.svg);
                        transform: rotate(90deg);
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .arrow.open {
                        transform: rotate(0deg);
                    }
                }
                .filter-content-wrapper {
                    transition: 0.3s all;
                    max-height: 0em;
                    opacity: 0;
                    visibility: hidden;
                }
                .filter-content-wrapper.open {
                    transition: 0.3s all;
                    max-height: 100em;
                    opacity: 1;
                    visibility: visible;
                }
                .margin {
                    height: 20px;
                }
                .selected-filter-row {
                    gap: 10px;
                    align-items: center;
                    margin-left: -4px;
                    margin-top: 20px;
                    .delite-img {
                        width: 24px;
                        height: 24px;
                        background-image: url(../../assets/delite-btn.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        cursor: pointer;
                    }
                }
                .clear-all-btn {
                    > div,
                    p {
                        cursor: pointer;
                    }
                }
                .checkbox-wrapper {
                    .checkbox-row:first-child {
                        margin-top: 0;
                    }
                    .checkbox-row {
                        display: flex;
                        align-items: center;
                        margin: 20px 0px;
                        input,
                        label {
                            cursor: pointer;
                            user-select: none;
                        }
                        .color-example-row {
                            align-items: center;
                        }
                    }
                    .checkbox {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 24px;
                        height: 24px;
                        margin-right: 10px;
                        margin-left: 0;
                        border: 1px solid #007a7e;
                        outline: none;
                    }
                    .checkbox:checked {
                        background-image: url(../../assets/checkmark.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-color: #333333;
                    }
                }
                .input-wrapper {
                    .input-row {
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;
                    }
                    .price-input {
                        width: 100px;
                        padding: 15px 0px;
                        text-align: center;
                    }
                    .price-input-line {
                        height: 1px;
                        width: 20px;
                        background-color: #979cab;
                    }
                    .price-slider {
                        margin-bottom: 20px;
                        .rc-slider-handle {
                            border: 1px solid #979cab;
                        }
                        .rc-slider-track {
                            background-color: #979cab;
                        }
                        .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
                            border-color: #979cab;
                            box-shadow: 0 0 0 5px #979cab;
                        }
                    }
                }
                .filter-btn {
                    width: 100%;
                    background-color: #8acfcf;
                    color: white;
                    border: none;
                    padding: 13px 0px;
                    cursor: pointer;
                }
                .color-description {
                    margin-bottom: 20px;
                }
                .color-example {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .white {
                    background-color: white;
                }
                .black {
                    background-color: black;
                }
                .blue {
                    background-color: #5d7bc8;
                }
                .brown {
                    background-color: #6a363c;
                }
                .green {
                    background-color: #629742;
                }
                .gray {
                    background-color: #9b9b9b;
                }
                .orange {
                    background-color: #db8a11;
                }
                .beige {
                    background-color: #e4cc8c;
                }
                .violet {
                    background-color: #9e7374;
                }
                .bordeaux {
                    background-color: #9e2b38;
                }
                .pink {
                    background-color: #d761e1;
                }
                .yellow {
                    background-color: #e0d813;
                }
            }
            .price-filter {
                margin-bottom: 0;
            }
        }
        .items-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 32px 20px;
        }
        .no-result {
            text-align: center;
            font-family: "Lora", serif;
            font-size: 40px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: -2px;
        }
    }
}
