.collection-page {
    background-color: white;
    .header-bg {
        height: 80px;
    }
    .sorting {
        width: 93%;
        margin-bottom: 14px;
        position: relative;
        .sorting-row {
            justify-content: flex-end;
            align-items: center;
            gap: 13px;
            user-select: none;
            cursor: pointer;
            .arrow {
                width: 24px;
                height: 24px;
                background-image: url(../../assets/arrow-down.svg);
                background-position: center;
                background-repeat: no-repeat;
                transform: rotate(90deg);
            }
            .arrow.open {
                transform: rotate(0deg);
            }
        }
        .sorting-list {
            position: absolute;
            top: 38px;
            right: 0px;
            padding: 20px;
            padding-bottom: 0;
            border: 1px solid #979cab;
            background-color: white;
            visibility: hidden;
            opacity: 0;
            > p {
                margin-bottom: 15px;
                color: #808080;
                cursor: pointer;
            }
            // > p:last-child {
            //     margin-bottom: 0;
            // }
            .disable {
                display: none;
            }
        }
        .sorting-list.open {
            visibility: visible;
            opacity: 1;
        }
    }
    .collection-wrapper {
        display: grid;
        grid-template-columns: 280px minmax(100px, 880px);
        gap: 20px;
        align-items: start;
        padding-bottom: 80px;
        .items-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 32px 20px;
        }
        .no-result {
            text-align: center;
            font-family: "Lora", serif;
            font-size: 40px;
            font-weight: 400;
            line-height: 60px;
            letter-spacing: -2px;
        }
    }
    .tablet-buttons-row {
        display: none;
    }
}

// ------------- Adaptive -------------

// ------------- Laptop -------------
@media (max-width: 1200px) {
    .collection-page {
        .sorting {
            width: 100%;
        }
        .collection-wrapper {
            grid-template-columns: 250px minmax(100px, 880px);
            .filter {
                .filter-block {
                    .input-wrapper {
                        .price-input {
                            width: 85px;
                        }
                    }
                }
            }
        }
    }
}

// ------------- Tablet -------------
@media (max-width: 992px) {
    .collection-page {
        .sorting {
            .sorting-row {
                display: none;
            }
        }
        .collection-wrapper {
            grid-template-columns: 1fr;
            .sticky-box {
                display: none;
            }
        }
        .tablet-buttons-row {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            margin-bottom: 16px;
            .tablet-button {
                padding: 14px 16px;
                border: 1px solid #333333;
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-width: 160px;
                .btn-img {
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 24px;
                }
                .filters-btn-img {
                    background-image: url(../../assets/fIlter-icon.svg);
                }
                .sorting-btn-img {
                    background-image: url(../../assets/sort-icon.svg);
                }
            }
        }
    }
}

// ------------- Mobile -------------
@media (max-width: 576px) {
}
