.item-page {
    background: white;
    .header-bg {
        height: 80px;
    }
    .item-content-wrapper {
        gap: 20px;
        margin-bottom: 25px;
        .item-description {
            width: 50%;
            .title-row {
                justify-content: space-between;
                margin-bottom: 40px;
            }
            .item-title {
                font-size: 32px;
                font-weight: 500;
                line-height: 38px;
                letter-spacing: 0em;
                text-transform: capitalize;
                margin-bottom: 10px;
                > span {
                    text-transform: lowercase;
                    font-weight: 400;
                }
            }
            .item-type {
                font-size: 20px;
                font-weight: 300;
                line-height: 23px;
                letter-spacing: 0em;
                text-transform: capitalize;
            }
            .item-text {
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;
                margin-bottom: 21px;
            }
            .sizes-row {
                width: 50%;
                justify-content: space-between;
                margin-bottom: 24px;
                .item-price {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    > span {
                        font-weight: 700;
                    }
                }
            }
            .dropdown-title {
                width: 50%;
                font-size: 16px;
                font-weight: 300;
                line-height: 19px;
                letter-spacing: 0em;
                margin-bottom: 16px;
            }
            .dropdown-title-description {
                margin-bottom: 20px;
                width: 70%;
            }
            .dropdown-menu {
                width: 100%;
                text-transform: capitalize;
                position: relative;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                z-index: 100;
                .current-item {
                    border: 1px solid black;
                    padding: 13px 20px;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    .arrow-down {
                        background-image: url(../../assets/arrow-down.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 24px;
                        height: 24px;
                        transform: rotate(90deg);
                    }
                    .open {
                        transform: rotate(0deg);
                    }
                }
                .other-variants {
                    border: 1px solid black;
                    background-color: white;
                    position: absolute;
                    top: 51px;
                    left: 0px;
                    width: 100%;
                    display: none;
                }
                .open {
                    display: block;
                }
                .dropdown-menu-item {
                    display: block;
                    padding: 13px 20px;
                    border-bottom: 1px solid black;
                    text-decoration: none;
                    color: #333333;
                }
                .dropdown-menu-item:last-child {
                    border-bottom: none;
                }
            }
            .shop-btn {
                width: 100%;
                margin-top: 24px;
                margin-bottom: 28px;
                background-color: #333333;
                border: none;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
                color: white;
                text-transform: capitalize;
                padding: 13px 0px;
                text-align: center;
                cursor: pointer;
            }
            .product-description-block {
                background-color: #fafafa;
                padding: 15px 20px;
                margin-bottom: 10px;
                .product-description-block-row {
                    align-items: center;
                    justify-content: space-between;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    letter-spacing: 0em;
                    text-transform: capitalize;
                    cursor: pointer;
                }
                .arrow-down {
                    background-image: url(../../assets/arrow-down.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 24px;
                    transform: rotate(90deg);
                }
                .arrow-down.open {
                    transform: rotate(0deg);
                }
                .product-description-block-content {
                    max-height: 0em;
                    .margin {
                        margin-bottom: 0;
                    }
                    > div {
                        transition: 0.3s all;
                        max-height: 0em;
                        opacity: 0;
                        visibility: hidden;
                        margin-bottom: 20px;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 22px;
                        letter-spacing: 0em;
                        color: #4d4d4d;
                        p {
                            span {
                                font-weight: 700;
                            }
                        }
                    }
                    > div:last-child {
                        margin-bottom: 0;
                    }
                    .size-table {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        border-top: 1px solid #b3b3b3;
                        border-right: 1px solid #b3b3b3;
                        > div {
                            padding: 8px 0px;
                            border-bottom: 1px solid #b3b3b3;
                            border-left: 1px solid #b3b3b3;
                            text-align: center;
                            font-size: 12px;
                            font-weight: 300;
                            line-height: 14px;
                            letter-spacing: 0em;
                        }
                        .table-title {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16px;
                        }
                    }
                }
                .product-description-block-content.open {
                    max-height: 100em;
                    .margin {
                        margin-bottom: 20px;
                    }
                    > div {
                        max-height: 100em;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

// ------------- Adaptive -------------

// ------------- Laptop -------------
@media (max-width: 1200px) {
    .item-page {
        .item-content-wrapper {
            .item-description {
                width: auto;
                .sizes-row {
                    width: 65%;
                }
            }
        }
    }
}

// ------------- Tablet -------------
@media (max-width: 992px) {
    .item-page {
        .header-bg {
            height: 60px;
        }
        .item-content-wrapper {
            flex-direction: column;
            .item-description {
                .sizes-row {
                    width: 100%;
                }
                .dropdown-title-row {
                    flex-direction: column;
                }
                .dropdown-title,
                .dropdown-title-description {
                    width: 100%;
                }
            }
        }
    }
}

// ------------- Mobile -------------
@media (max-width: 576px) {
    .item-page {
        .item-content-wrapper {
            .item-description {
                .title-row {
                    align-items: flex-end;
                    .second-item-title {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
