.header {
    position: absolute;
    width: 100%;
    padding: 25px 0px;
    z-index: 10;
    .header-wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        .header-logo {
            position: absolute;
        }
        .header-menu-wrapper {
            justify-self: center;
            gap: 80px;
            .header-menu-item {
                font-size: 16px;
                line-height: 32px;
                letter-spacing: 0px;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
                color: white;
            }
        }
    }
}

.header-pages {
    .header-wrapper {
        .header-menu-wrapper {
            .header-menu-item {
                color: #000000;
            }
        }
    }
}

// ---------------- Disable hover on mobile -------------

@media (hover: hover) {
    .header {
        .header-wrapper {
            .header-menu-wrapper {
                .header-link {
                    display: block;
                }
                .pages-header-menu-item {
                    display: none;
                }
                .header-menu-item {
                    transition: 0.3s all;
                    &:hover {
                        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
                            0 0 42px #f9f5ef, 0 0 82px #f9f5ef, 0 0 92px #f9f5ef,
                            0 0 102px #f9f5ef, 0 0 151px #f9f5ef;
                    }
                }
            }
        }
    }
    .header-pages {
        .header-wrapper {
            .header-menu-wrapper {
                .header-link {
                    display: none;
                }
                .pages-header-menu-item {
                    display: block;
                    text-decoration: none;
                }
                .header-menu-item {
                    transition: 0.3s all;
                    &:hover {
                        text-shadow: 0 0 7px #8acfcf, 0 0 10px #8acfcf,
                            0 0 21px #8acfcf, 0 0 42px #8acfcf, 0 0 82px #8acfcf,
                            0 0 92px #8acfcf, 0 0 102px #8acfcf,
                            0 0 151px #8acfcf;
                    }
                }
            }
        }
    }
}

// ------------- Adaptive -------------

// ------------- Laptop -------------
// @media (max-width: 1200px) {

// }

// ------------- Tablet -------------
@media (max-width: 992px) {
    .header {
        .header-wrapper {
            .header-logo {
                display: none;
            }
            .header-menu-wrapper {
                flex-direction: column;
                align-items: center;
                gap: 24px;
            }
        }
    }
}

// ------------- Mobile -------------
@media (max-width: 576px) {
}
